{{> nav}}

<h1>{{title}}</h1>
<h2>KLRU Board of Directors and Station Administration</h2>
<p>Since its inception, Austin’s own community licensed public television station KLRU, has brought exceptional educational television to the Central Texas community. This non-profit 501(c)(3) organization is made possible through support from our members.</p>
<h3>Board of Directors 2016-2017</h3>
{{#each board}}
  <div class="boardMemberInfo">
    <strong><p>{{this.name}}{{#if this.executive}}*{{/if}}</p></strong>
    {{#if this.title}}<p><em>{{this.title}}</em></p>{{/if}}
    <p>{{this.company}}</p>
  </div>
{{/each}}
<p>* Executive Committee member</p>

<h3>Administration</h3>
{{#each admin}}
  <div class="adminInfo">
    <a href="mailto:{{this.email}}"><strong><p>{{this.name}}</p></strong></a>
    <p><em>{{this.title}}</em></p>
    <p>Phone: {{this.phone}}</p>
    {{#if this.mobile}}<p>Mobile: {{this.mobile}}</p>{{/if}}
  </div>
{{/each}}

<h2>KLRU Community Advisory Board</h2>
<p>KLRU is a community-licensed station managed by a Board of Directors. Further community input comes to the station through our Community Advisory Board.</p>
<p>Meetings are the third Wednesday of the Month (unless otherwise noted) every 3 months. All meetings are at KLRU (unless otherwise noted) and start at 5:30 p.m.</p>
<p>November 16, 2016</p>
<p>February 15, 2017</p>
<p>May 24, 2017</p>
<p>August 16, 2017</p>
<div id="cabBoard">
  <h3>KLRU Community Advisory Board Members 2016-2017</h3>
  {{#each cab}}
    {{#unless this.klruMember}}<p>{{this.name}}</p>{{/unless}}
  {{/each}}
  <h3>KLRU Members</h3>
  {{#each cab}}
    {{#if this.klruMember}}<p>{{this.name}}</p>{{/if}}
  {{/each}}
</div>
<p>We are currently accepting applications for consideration of membership to the KLRU Community Advisory Board (CAB). Applications should be submitted by Friday, April 7, 2017, and will be reviewed by the CAB Nominating Committee.</p>
<a href="#"><p>Community Advisory Board Application</p></a>
<h3>About the CAB</h3>
<p>The KLRU Community Advisory Board is composed of up to 30 individuals who reflect the diverse interests, concerns, organizations, issues and populations of the Central Texas community. The CAB helps guide KLRU in a variety of ways. Membership in the CAB is open to anyone who lives in the designated market area for KLRU and who has demonstrated an interest in KLRU. Members are selected by the existing CAB after being nominated by the staff, or the CAB, or they may nominate themselves. The role of the CAB is to provide a link between the community-at-large and the staff of KLRU. Members elected to the CAB commit to serve a two-year term.</p>
<h3>The duties of the CAB are:</h3>
<ul>
  <li>Act as a liaison between KLRU and the community.</li>
  <li>Raise community awareness about KLRU, its programming and its services.</li>
  <li>Advise KLRU on issues of importance in the community where KLRU may have an impact.</li>
  <li>Encourage community involvement in KLRU projects, activities.</li>
  <li>Ensure that the content of the programming reflects the community.</li>
</ul>

<h2>Map and Directions to KLRU</h2>
<h3>From Mopac (Loop 1)</h3>
<p>Exit on Windsor Road heading east (Windsor Road becomes 24th Street). Travel 1-1/2 miles on 24th Street (heading east) to Guadalupe. Turn Left onto Guadalupe. KLRU is on the corner of Guadalupe and 26th (Dean Keeton) Street. See parking options below.</p>
<h3>From IH35 Southbound:</h3>
<p>Take IH-35 Lower Level to 32nd Street/Dean Keeton Exit. Go east, get in far right lane and take cut-off onto Dean Keeton. KLRU is on the corner of Guadalupe and 26th (Dean Keeton) Street. See parking options below.</p>
<h3>From IH35 Northbound:</h3>
<p>Take IH-35 Lower Level to Lyndon B. Johnson Library Exit. Go north on access road, get in far right lane and follow signs for LBJ Library onto Dean Keeton. Stay on Dean Keeton. KLRU is on the corner of Guadalupe and 26th (Dean Keeton) Street. See parking options below.</p>
<p><em>If you are looking for directions to an ACL taping, you can find them on the <a href="http://acl-live.com/venue/parking">ACL-Live site, with parking options.</a></em></p>
<img src="images/About/klru_map-edit.jpg" alt="KLRU Location Map with Parking Options" />

<h2>Mission and Vision</h2>
<h3>Welcome</h3>
<p>Since its inception, Austin’s own community licensed public television station KLRU, has brought exceptional educational television to the Central Texas community. This non-profit 501 (c) 3 organization is made possible through support from our members.</p>
<p>For more than 50 years KLRU has been a friend to Central Texans. KLRU’s mission is to enrich the lives of our viewers through quality public television programming, community services and public events with shows like Austin City Limits, Central Texas Gardener, Arts in Context, and Overheard with Evan Smith.</p>
<h3>Vision</h3>
<p>KLRU enriches lives and transforms communities.</p>
<p>KLRU is a leader in public media, distinguished by its energetic engagement with the community and for the quality and creativity of content. KLRU illuminates the wider world of knowledge, the importance of discourse, and the many possibilities life presents us all.</p>
<h3>Mission</h3>
<p>KLRU’s mission is to educate, entertain and engage children and adults in the Greater Austin area and beyond by providing distinctive media experiences that matter, whether on the air, online or on the ground, and reflecting Austin’s uniqueness and creativity to the world.</p>
<h3>Viewiing Area</h3>
<img src="images/About/klru_viewing-area.jpg" alt="KLRU Viewing Area" />

<h2>Producing for KLRU</h2>
<p>Thanks for bringing your ideas to KLRU. KLRU strives to present locally-produced television programming that reflects the Central Texas community. The station both broadcasts original content and helps facilitate national release of completed films and TV shows. KLRU’s Green Light Committee evaluates projects for development. The committee, made up of KLRU employees from all station departments, reviews projects to ensure they meet KLRU standards. Proposals may be submitted to KLRU at any time throughout the year. The Green Light Committee can only consider your proposal if you have signed and submitted the release form. KLRU typically does not have funding set aside for production cost, but can supply in-kind services and fundraising support for approved projects.</p>
<h3>Local Broadcast</h3>
<p>Completed films and shows (25 minutes or longer) can be considered for local broadcast on KLRU, KLRU Create, and KLRU Q. Submit a dvd of your completed film to KLRU’s Senior Vice President for Programming Maria Rodriguez at PO BOX 7158, Austin, TX 78713.</p>
<h3>State and National Distribution</h3>
<p>Films and shows, at any stage of development, can also be considered for state and/or national distribution. Works for consideration in this category must go through a multi-step process that begins with submitting a project overview and clips of the completed work and a release form to Scott Hoffman at PO Box 7158, Austin, TX 78713.</p>
<h3>ITVS</h3>
<p>KLRU has helped facilitate several projects through the ITVS’ LINCS grant programs. For more details about these funding initiatives visit the <a href="https://itvs.org/funding">ITVS Web site.</a></p>
<h3>PBS Kids</h3>
<p>For more details about producing children’s programming for PBS, download the <a href="#">PBS Kids Producer Guidelines pdf.</a></p>
<h3>Review Process</h3>
<p>Each project is judged on many criteria, including but not limited to the quality of the proposal or completed work, the credentials of the production team, the needs of the schedule, and whether it meets KLRU’s core operating principle to focus on programming that discovers, reflects, and brings to life the essence of Austin. If the project is accepted by the Green Light Committee, deadlines will be determined and a strategy for facilitating broadcast/distribution of the program will be set. Producers will be notified shortly thereafter. Producers must submit the following with their program:</p>
<p><a href="#">Application [pdf]</a></p>
<p><a href="#">Release [doc]</a></p>
<h3>Frequently Asked Questions</h3>
<p><strong>Q) Will KLRU fund my project?</strong></p>
<p>A) Most likely not. As much we would like to have monies set aside just for outside producers, at this time, we do not. Most producers submitting projects have funders attached or ones in mind to ask for support.</p>
<p><strong>Q) Should I only submit a completed program or does it have to be in the early stages of production?</strong></p>
<p>A) We accept projects in all stages of development/production.</p>
<p><strong>Q) Will my program have National distribution?</strong></p>
<p>A) This is determined on a case by case situation. First and foremost KLRU serves the Central Texas area. That is our focus. We do have ways of making shows available to other markets outside of Texas, but whether or not a station airs your program is entirely up to each individual station.</p>
<p><strong>Q) Can I have my program aired during primetime?</strong></p>
<p>A) The time that you program airs is determined by many things. It depends on availability in primetime. It also depends on subject matter of the project (aka it has to air after 10 p.m.). Ultimately though, it is up to the discretion of programmers where to place a program.</p>

<h2>PSA Policy</h2>
<p>KLRU-TV, Austin PBS is a non-profit, non-commercial Central Texas station that provides educational and informative programming to viewers in 18 counties. Due to limited airtime, we are unable to promote local events and activities on air. Therefore, we do not accept public service announcements (PSAs).</p>

<h2>Public Reports</h2>
<p>The KLRU Public File can be viewed on the FCC site:</p>
<p><a href="https://stations.fcc.gov/station-profile/klru">https://stations.fcc.gov/station-profile/klru</a></p>
<p><a href="#">2016 Local Content & Service Report to the Community</a></p>
<p><a href="#">KLRU Diversity and Non-Discrimination Policy 2014-15</a></p>
<p>EEO Public File Report</p>
<ul>
  <li><p><a href="#">Annual Report with License Application - 2014</a></p></li>
  <li><p><a href="#">2016 – 2017</a></p></li>
</ul>
<p>Federal Tax Filings</p>
<ul>
  <li><p><a href="#">IRS 990 and 990T (2014)</a></p></li>
</ul>
<p>Audited Financial Statements</p>
<ul>
  <li><p><a href="#">Audited Financial Statements for FY 2015 and FY 2016</a></p></li>
</ul>
<p>CPB Annual Reports</p>
<ul>
  <li><p>Annual Financial Report (AFR) is available upon request.</p></li>
  <li><p>Station Activity Benchmark Survey (SABS) is available upon request.</p></li>
</ul>

<h3>KLRU Open Meetings Policy</h3>
<p>Meetings of the <a href="#">KLRU Board of Trustees</a>, its committees, and the <a href="#">KLRU Community Advisory Board</a> are open to the public. All persons shall be permitted to attend any meeting of the board, or of any such committee or body, and no person shall be required, as a condition to attendance at any such meeting, to register such person’s name or to provide any other information.</p>

<h3>Code of Integrity</h3>
<p>KLRU supports the Public Media Code of Integrity. More information is available at <a href="http://www.codeofintegrity.org/">http://www.codeofintegrity.org/</a>.</p>

<h3>Closed Caption Certificate</h3>
<p>All programming provided by KLRU complies with the closed captioning requirements published by the Federal Communications Commission as embodied in 47 C.F.R.§ 79.1, including regulations concerning closed captioning quality. Programming provided KLRU complies with these regulations by either: (i) satisfying the caption quality standards set forth in 47 C.F.R. § 79.1 (j) (2); (ii) adopting and following the “Video Programming Best Practices” set forth in 47 C.F.R.. § 79.1 (k) (1); or (iii) being subject to one or more of the captioning exemptions set forth in 47 C.F. R. § 79.1 (d), including programming for which the audio is in a language other than English or Spanish and that is not scripted programming that can be captioned using the “electronic news room” technique; interstitial material, promotional announcements, and public service announcements that are 10 minutes or less in duration; and/or programming that consists primarily of non-vocal music.</p>

<h2>Studio Rentals</h2>
<h3>Capture the Spirit of <em>Austin City Limits</em> at KLRU</h3>
<h3>Your Own Personal <em>Austin City Limits</em></h3>
<p>Host your employees or friends for a special event in the famous KLRU Studio 6A, original home of <em>Austin City Limits</em>.</p>
<h3>The Studio:</h3>
<p>By holding your event at KLRU, you can experience the magic and celebrate the history of <em>Austin City Limits</em>. From 1976-2010, KLRU’s Studio 6A was the home of the <em>Austin City Limits</em> television show. We currently record KLRU shows Overheard with Evan Smith, Civic Summit, Central Texas Gardener and more in Studio 6A, but we have retained the original ACL backdrop and stage. Legends like Ray Charles, Dolly Parton, Coldplay, The Foo Fighters and of course Texas’ own Willie Nelson have played here. A culturally historic landmark, Studio 6A provides a unique space for your corporate event, holiday party, or other celebration.</p>
<h3>Capacity:</h3>
<p>KLRU’s Studio 6A, original home of <em>Austin City Limits</em>, is 6,800 square feet with a 20 x 24 foot stage and fixed bleacher seating. The center of the studio features a 32 x 36 foot open area to accommodate tables for seating guests or tall cocktail tables with room to mingle. Maximum capacity is 300 people.</p>
<h3>Vendors, Talent, and Caterers:</h3>
<p>We want your event to go flawlessly, and for this reason, we allow you to choose the vendors, talent, and caterers you prefer.</p>
<p>For information on booking, contact:</p>
<p><a href="mailto:cnelson@klru.org">Colleen Nelson - cnelson@klru.org</a></p>

<h3>How to Watch</h3>
<img src="images/About/WATCHONLINE-watchlogo.png" alt="Watch Online" />
<p>Watch PBS and KLRU shows online anytime. Download the PBS app on your AppleTV, Xbox, Roku or other device and localize to KLRU or watch online at <a href="http://video.klru.tv/">video.klru.tv</a>.</p>
<img src="images/About/KLRU-watchlogo.png" alt="KLRU" />
<p>KLRU’s main channel reflects, celebrates and inspires Central Texas through creative excellence, community engagement and lifelong learning in addition to providing locally produced and quality national television programming from PBS and other sources.</p>
<table>
  <tr>
    <td>Over the air:</td>
    <td>18.1</td> 
  </tr>
  <tr>
    <td>AT&T U-verse:</td>
    <td>18 and 1018</td> 
  </tr>
  <tr>
    <td>Grande:</td>
    <td>9 and 309</td> 
  </tr>
  <tr>
    <td>Time Warner:</td>
    <td>9 and 1221</td> 
  </tr>
  <tr>
    <td>Dish:</td>
    <td>18</td> 
  </tr>
  <tr>
    <td>DirecTV:</td>
    <td>18</td> 
  </tr>
  <tr>
    <td>Google:</td>
    <td>18</td> 
  </tr>
  <tr>
    <td>Suddenlink:</td>
    <td>9 and 700</td> 
  </tr>
  <tr>
    <td>Northland:</td>
    <td>11 and 402</td> 
  </tr>
  <tr>
    <td>CMA:</td>
    <td>9 and 465</td> 
  </tr>
</table>
<img src="images/About/KLRUCREATE-watchlogo.png" alt="KLRU Create" />
<p>KLRU Create features viewers’ favorite public television series and specials on cooking, travel, arts and crafts, gardening and home improvement. Create was designed for round-the-clock broadcast of the most popular lifestyle and how-to programming seen on public television – where lifestyle programming got its start!</p>
<table>
  <tr>
    <td>Over the air:</td>
    <td>18.2</td>
  </tr>
  <tr>
    <td>Grande:</td>
    <td>283</td>
  </tr>
  <tr>
    <td>Time Warner:</td>
    <td>1270</td>
  </tr>
  <tr>
    <td>Google:</td>
    <td>76</td>
  </tr>
</table>
<img src="images/About/KLRUQ-watchlogo.png" alt="KLRU Q" />
<p>In July 2009, KLRU launched a new locally programmed channel called KLRU Q featuring entertaining and inspiring shows about history, music, science, nature, food and more. Q is structured in “blocks” of programming throughout the day, with genres chosen specifically for the Austin audience.</p>
<table>
  <tr>
    <td>Over the air:</td>
    <td>18.3</td>
  </tr>
  <tr>
    <td>Grande:</td>
    <td>284</td>
  </tr>
  <tr>
    <td>Time Warner:</td>
    <td>20 and 1268</td>
  </tr>
  <tr>
    <td>Google:</td>
    <td>77</td>
  </tr>
</table>
<img src="images/About/VME-watchlogo.png" alt="VME" />
<p>V-me is one of the fastest-growing Hispanic TV networks providing a variety of programming. Award-winning parenting shows, entertaining travel, international food, home, health, and sporting events are featured. The programming on V-me engages viewers and gives them something to think about with ideas and opinion series as well as world-class science and natural history to provocative non-fiction TV.</p>
<table>
  <tr>
    <td>Over the air:</td>
    <td>18.4</td>
  </tr>
  <tr>
    <td>Grande:</td>
    <td>285</td>
  </tr>
  <tr>
    <td>Time Warner:</td>
    <td>881 and 1269</td>
  </tr>
  <tr>
    <td>Google:</td>
    <td>78</td>
  </tr>
</table>
<p>To enjoy all of what KLRU has to offer on your satellite service you will need to subscribe to the local channel package. Please check with your provider to find channel information.</p>
<h3>Second Audio Program</h3>
<p>KLRU offers an enhanced audio signal as part of the Second Audio Program channel (SAP). You can use SAP to receive the main audio channel, a Spanish translation, or descriptive information on the program.</p>
<p>To select the SAP Channel on your television, consult the owner’s manual of your television to find out how to select your SAP channel. Generally, the SAP is either a button on your remote labeled “stereo-mono-sap” or a menu-accessed programming function.</p>
<p>If you have no audio, check to see if SAP has been selected. The main audio channel will be in mono if you select to listen to through SAP.</p>
<h3>Closed Captions</h3>
<p>KLRU offers a variety of programs with closed captions for deaf or hearing-impaired viewers. Besides serving hearing-impaired viewers, programs with closed captions are also used to teach literacy.</p>
<p>To select the Closed Caption on your television, consult the owner’s manual of your television to find out how to turn them on. Generally, the Closed Caption is either a button on your remote labeled “CC” or a menu-accessed programming function.</p>

<h2>Contact</h2>
<p>KLRU-TV, Austin PBS</p>
<p>P.O. Box 7158 // Austin, Texas // 78713-7158</p>
<p>main 512.471.4811 // fax 512.475-9090</p>
<p>email <a href="mailto:info@klru.org">info@klru.org</a></p>