<base href="http://localhost:8080/">
{{> nav}}
<link rel='stylesheet' href='stylesheets/Olympos.css'/>
{{#if title}}
	<h1>{{title}}</h1>
	<p>Welcome to {{title}}</p>
{{/if}}

{{mediaManagerResults.description_long}}</br>
{{link 'Visit the website' url}}</br>		
<img src = {{../images.[1].image}}>
	 